[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "third_party/qemu-3dfx"]
	path = third_party/qemu-3dfx
	url = https://github.com/kjliew/qemu-3dfx.git
[submodule "third_party/slang-shaders"]
	path = third_party/slang-shaders
	url = https://github.com/libretro/slang-shaders.git
[submodule "third_party/dxvk"]
	path = third_party/dxvk
	url = https://github.com/doitsujin/dxvk
[submodule "third_party/openglide"]
	path = third_party/openglide
	url = https://github.com/voyageur/openglide.git
